<!DOCTYPE html>
<html>
    <title>
        The Rick and Morty 
    </title>
    <script type='text/javascript'>
        const initialData = <%- JSON.stringify(initialData) -%>;
    </script>
    <link rel="stylesheet" href="/main.css">
    <body>
        <div id="root"><%- initialMarkup -%></div>
        <script src="/main.js" charset="utf-8"></script>
    </body>
</html>